[Unit]
Description=Discord Bot

[Service]
ExecStart=/opt/bot.py
Restart=on-failure
Type=simple
user=ubuntu
group=ubuntu
RestartSec=10s

[Install]
WantedBy=multi-user.target

